@using MvcLibrary.Models.Entity
@model List<Movement>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç kitap listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>İade Al</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.BookID</td>
            <td>@book.Book.Name</td>
            <td>@book.User.Name&nbsp @book.User.LastName</td>
            <td>@book.Employee</td>
            <td>@Convert.ToDateTime(book.DeliveryDate).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(book.ReturnDate).ToString("dd/MM/yyyy")</td>
            <td><a href="/GiveBook/GetBook/@book.BookID" class="btn btn-default" style="background-color:#ff6a00; color:white">Kitabı iade et</a></td>
        </tr>
    }
</table>
