@using MvcLibrary.Models.Entity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>Soyad</th>
        <th>Detay</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var author in Model)
    {
        <tr>
            <td>@author.AuthorID</td>
            <td>@author.Name</td>
            <td>@author.LastName</td>
            <td>@author.Details</td>
            <td>@Html.ActionLink("Sil", "DeleteAuthor", new { id = author.AuthorID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
            <td><a href="/Author/GetAuthor/@author.AuthorID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" href="/Author/AddAuthor/">Yeni Yazar Ekle</a>