@model MvcLibrary.Models.Entity.Book
@{
    ViewBag.Title = "GetBook";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(x => x.BookID, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kategorisi</label>
            @Html.DropDownListFor(x => x.Category.CategoryID, (List<SelectListItem>)ViewBag.cValue, new { @class = "form-control" })
        </div>
    </div>
    <div style="margin-bottom:15px">
        <label>Yazarı</label>
        @Html.DropDownListFor(x => x.Author.AuthorID, (List<SelectListItem>)ViewBag.aValue, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>Basım Yılı</label>
        @Html.TextBoxFor(x => x.YearOfPublication, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>Yayınevi</label>
        @Html.TextBoxFor(x => x.Publisher, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>Sayfa Sayısı</label>
        @Html.TextBoxFor(x => x.NumberOfPages, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Kitap Bilgilerini Güncelle</button>

}


